.box-container{
    /* border: 1px solid red; */
    background-color: rgb(116, 176, 98b);
    width: 30rem;
    height: 30rem;
    overflow-y: scroll;
    overflow-x: scroll;
    overflow:   auto;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100%;
}

img{
    height: 100%;
    width: 100%;
      opacity: 0.5;
}

p{
    text-align: center;
    padding: 5rem;
}