@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body{
    background-color: hsl(185, 75%, 39%);
    background-size: 1440px;



}

h1{
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}

.profile{
    background-color:white;
    border:1px;
    border-radius: 20px;
    margin-right: 61.5rem;
    border-style: solid;

}

.flex-container{
    display: flex;
    border-top: 1px solid grey;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-basis: 100px;
    
}

p{
    text-align: center;

}

#vc{
   border-radius: 30rem;
   border: 5px solid white;
   display: block;
   margin: -60px auto 0px auto;
   position: relative;
   z-index: 1;

}

#blue1{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
   
    width: 100%;
   
}

.followers{
    border:1px;
     align-self:center;
    flex-basis: 100px;
}

.Likes{
    border: 1px;
     align-self:center;
    flex-basis: 100px;
}

.Photos{
    border: 1px;
     align-self:center;
    flex-basis: 100px;
}